# Database connection string
DATABASE_URI=mongodb+srv://mastertech:<password>@cluster0.cowyap2.mongodb.net/mastertech

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

#CRON
CRON_SECRET=f7def7e0cc43f9c2ad3003bf874019d1cf301780d2ba0ea07512f11068d81d88

#ARCJECT
ARCJET_KEY=
